body {
  font-family: comic sans ms;
  font-weight: bold;
  border: 10px solid black;
  padding: 5px;
}
#skip-nav:hover {
  text-decoration: underline;
}
#skip-nav {
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: #09c3ae;
  font-size: 20px;
  padding: 3px;
}
.site-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 5px;
  border: thick double;
  font-family: comic sans ms;
  font-size: 20px;
}
.nav-item a {
  color: #c3091e;
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}

h1 {
  color: #c3091e;
  font-size: 60px;
  text-align: center;
}
h2 {
  font-size: 50px;
  text-decoration: underline;
  color: #c3091e; 
}
img {
  display: block;
  margin: 0px auto;
  border: 3px solid black;
  padding: 5px;
}
article {
  font-size: 20px;
}
p.indent {
  text-indent: 20px;
}
#center {
  text-align: center;
}
#page-footer { 
text-align: center;
padding: 32px 0; 
margin-top: 64px; 
border-top: 1px solid black;
background-color: #c3091e;
color: #ffffff; 
}