#skip-nav {
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: #3f9699;
  font-size: 20px;
  padding: 5px;
}
#skip-nav:hover {
  text-decoration: underline
}
.site-nav {
  list-style: none;
  padding: 0;
  border: 1px medium solid black;
  border: thick double;
  width: 200px;
}
.nav-item {
  border-bottom: 1px solid black;
  padding: 5px;
}
.nav-item:last-child {
  border-bottom: none; 
}
.nav-item a {
  color: #ea898a;
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
h1 {
  color: #ea898a; 
  font-family: comic sans ms; 
  font-size: 50px; 
  text-align: center; 
  text-transform: uppercase; 
  text-decoration: underline; 
}
@media all and (max-width: 390px) {
  h1 {
  color: #ea898a; 
  font-family: comic sans ms; 
  font-size: 40px; 
  text-align: center; 
  text-transform: uppercase; 
  text-decoration: underline; 
}
}
img {
  max-width: 100%;
  height: auto;
  border: 3px solid black;
  padding: 5px;
}
@media all and (max-width: 390px) {
  img {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  height: auto;
  border: 3px solid black;
  padding: 5px;
}
}
.header-image {
  display: block;
  margin: 0px auto;
}
  p {
  font-family: comic sans ms;
}
@media all and (max-width: 390px) {
   p {
  text-align: center;
  font-family: comic sans ms;
}
}
h2 {
  font-size: 30px;
  text-decoration: underline;
  color: #ea898a; 
  font-family: comic sans ms; 
}
@media all and (max-width: 390px) {
  h2 {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  color: #ea898a; 
  font-family: comic sans ms; 
}
}