body a {
  color: black;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline
}
#skip-nav {
  font-style: italic;
}
nav ul {
  list-style: none;
  padding: 0;
  border: 1px medium solid black;
  border: thick double;
  width: 200px;
}
nav ul li {
  border-bottom: 1px solid black;
  padding: 5px;
}
nav ul li:last-child {
  border-bottom: none; 
}
nav ul li a {
  color: #ea898a;
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
h1 {
    color: #ea898a;
    font-family: comic sans ms;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
img {
    border: 3px solid black;
    padding: 5px;
}
figure img {
    display: block;
    margin: 0px auto;
}
p {
    font-family: comic sans ms;
}